.terraform/
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
authorized_key.json
local-run-env-variable.sh
.idea
.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
